/target/
/.classpath
/.project
/.settings
/.checkpoint*
/checkpoint-*
/.idea/
*.iml
/receivedBlockMetadata

*.DS_Store

/dependency-reduced-pom.xml

/checkpoint/*
*.log
/src/main/webapp/upload/*
/out
/target
/src/test
.idea/
logs/
